<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firemanagement">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".AppClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Admin.UpdatePasswordActivity"></activity>
        <activity android:name=".activities.Admin.VehicleEquipmentActivity" />
        <activity android:name=".activities.Customer.StatusEquipmentActivity" />
        <activity android:name=".activities.Customer.StatusVehicleActivity" />
        <activity android:name=".activities.Admin.PersonManagerActivity" />
        <activity android:name=".activities.Admin.VehicleEquipmentActivity1" />
        <activity android:name=".activities.Admin.PersonalCenterActivity" />
        <activity android:name=".activities.Admin.ModifyAdminRightsActivity" />
        <activity android:name=".activities.Admin.ManagerActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Customer.MainActivity" />
        <activity android:name=".activities.Customer.HandoverActivity" />
        <activity android:name=".activities.Customer.QueryManagementActivity" />
        <activity android:name=".activities.Customer.StateManagementActivity" />
        <activity android:name=".activities.Customer.SetingActivity" />
        <activity android:name=".activities.Admin.DutySituationLogActivity" />
        <activity android:name=".activities.Admin.OnDutyPersonActivity" />
        <activity android:name=".activities.Customer.ExpertActivity" />
        <activity android:name=".activities.Customer.EmergencyLinkageUnitInquiryActivity" />

        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.firemanagement.BmobContentProvider" />
    </application>

</manifest>